<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Navigation Pills -
                            <small>Horizontal Tabs</small>
                        </h4>
                    </div>
                    <div class="card-content">
                        <ul class="nav nav-pills nav-pills-warning">
                            <li class="active">
                                <a href="#pill1" data-toggle="tab">Profile</a>
                            </li>
                            <li>
                                <a href="#pill2" data-toggle="tab">Settings</a>
                            </li>
                            <li>
                                <a href="#pill3" data-toggle="tab">Options</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="pill1">
                                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                <br />
                                <br /> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                <br />
                                <br /> This is very nice.
                            </div>
                            <div class="tab-pane" id="pill2">
                                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                <br />
                                <br />Dramatically maintain clicks-and-mortar solutions without functional solutions.
                            </div>
                            <div class="tab-pane" id="pill3">
                                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                <br />
                                <br />Dynamically innovate resource-leveling customer service for state of the art customer service.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            